Package: zcash-desktop-gui-wallet
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: ZCash Desktop GUI Wallet
Maintainer: admin@zencash.com
Depends: openjdk-8-jre-headless, zcash
